language: php

php:
  - 7.4

install:
  - composer self-update
  - composer install --prefer-source --no-interaction

services:
  - mysql

before_script:
- cp .env.travis .env
- mysql -e 'CREATE DATABASE IF NOT EXISTS laravel_db;'
- mysql -e 'create database homestead;'

script: vendor/bin/phpunit