@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #fefefe;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    min-height: 100vh;
}

header {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    flex-basis: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem 1rem;
}

nav,
nav > a {
    color: #fefefe;
    margin-bottom: 0.2rem;
}

nav > a:first-child {
    margin-right: 0.2rem;
}

nav > a {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

nav > a:last-child {
    margin-left: 0.2rem;
}

main {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem 4rem;
    max-width: 40rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-self: center;
    /* justify-content: center; */
    align-items: center;
}

main > h1:first-of-type {
    text-align: center;
    margin: 1rem 0 0.2rem;
}

h2 {
    margin-bottom: 0rem;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 0.4rem 1rem;
    color: #fefefe;
}

main > form {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    display: block;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    margin: 0.4rem 0.4rem 0.4rem 0;
    border-radius: 0.4rem;
    text-transform: uppercase;
    padding: 0.5rem 0.7rem;
    transition: 0.4s;
}

input[type=submit]:hover {
    background-color: #333;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

input[type=text],
input[type=number] {
    display: block;
    border: none;
    outline: none;
    background-color: #eee;
    border-bottom: solid #333 0.05rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 0.2rem 0.8rem;
    transition: 0.4s;
}

input[type=text]:focus,
input[type=number]:focus {
    background-color: #ddd;
    border-bottom: solid #333 0.2rem;
}

.error-msg {
    display: block;
    border: none;
    background-color: #a33;
    color: #fff;
    font-size: 1rem;
    margin: 0.4rem 0.4rem 0.4rem 0;
    border-radius: 0.4rem;
    padding: 0.5rem 0.7rem;
}